<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include 'common/common_css.html' %}

    <title>User Profile</title>

    <style>
        body {
            background: #f5f7fb;
        }

        .profile-img {
            width: 200px;
            height: 250px;
            object-fit: cover;
        }

        .text {
            color: rgb(148, 217, 221);
            font-size: 20px;
            font-family: 'Franklin';
        }

        .label-text {
            color: gray;
            font-size: 16px;
            font-family: 'Franklin';
        }
    </style>

</head>

<body>
    {% include 'user/user_header.html' %}

    <div class="main-div">

        <div class="container py-5 w-75 rounded-4 mt-5">

            <div class="card shadow-lg border-0 rounded-4">

                <div class="row g-0">

                    <!-- Profile Image -->

                    <div class="col-lg-4 text-center rounded-4  p-4 d-flex align-items-center justify-content-center">

                        <div class="rounded-4 shadow" style="background-color: rgb(144, 142, 137);">



                            <img src="{% static 'images/avatar-design.png' %}"
                                class="img-fluid rounded-4 shadow profile-img" </div>

                        </div>

                        <!-- User Details -->

                        <div class="col-lg-8">

                            <div class="card-body p-5">

                                <div class="d-flex justify-content-center align-items-center mb-4 ">

                                    <h2 class="fw-bold text-primary mb-0">
                                        User Profile
                                    </h2>


                                </div>

                                <hr>

                                <div class="row gy-4">

                                    <div class="col-md-12">
                                        <label class="label-text">Full Name</label>
                                        <div class="text">Your Name</div>
                                    </div>

                                    <div class="col-md-12">
                                        <label class="label-text">Phone Number</label>
                                        <div class="text">Phone Number</div>
                                    </div>

                                    <div class="col-md-12">
                                        <label class="label-text">Email</label>
                                        <div class="text">
                                            Email
                                        </div>
                                    </div>



                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>

        {% include 'common/footer.html' %}
</body>

</html>