<nav class="navbar navbar-dark fixed-top" style="background-color: #dbdbe1;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="offcanvas offcanvas-start" data-bs-backdrop="false" tabindex="-1" id="offcanvasDarkNavbar"
            style="background-color: #4b494b; width: 250px;">

            <div class="offcanvas-header">
                <h5 class="offcanvas-title">
                    <i class="fa-solid fa-circle-user me-2 text-white"></i>
                    <b class="text-white">Hello User</b>
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas">
                </button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav flex-grow-1">
                    <!-- Home -->
                    <li class="nav-item">
                        <a class="nav-link active" href="/customer_home">
                            <i class="fa-solid fa-house me-2"></i> Home
                        </a>
                    </li>
                    <!-- Feedback -->
                    <li class="nav-item">
                        <a class="nav-link active" href="/customer_feedback">
                            <i class="fa-solid fa-comments me-2"></i> Feedback
                        </a>
                    </li>
                    <!-- Contact Us -->
                    <li class="nav-item">
                        <a class="nav-link active" href="/contact_us">
                            <i class="fa-solid fa-envelope me-2"></i> Contact Us
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/mybooking_status">
                        <i class="fa-solid fa-book"></i> booking status
                        </a>
                    </li>
                    <!-- Edit Profile -->
                    <li class="nav-item">
                        <a class="nav-link active" href="/edit_profile">
                            <i class="fa-solid fa-user-gear me-2"></i> Edit Profile
                        </a>
                    </li>
                   
                    <!-- <li class="nav-item">
                        <a class="nav-link active" href="/weekly_meal_schedule">
                            <i class="fa-solid fa-user-gear me-2"></i> meal plan
                        </a>
                    </li> -->
                   
                    <li class="nav-item">
                        <a class="nav-link active" href="/weekly_meal_schedule">
                            <i class="fa-solid fa-utensils"></i> weekly
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/food">
                        <i class="fa-solid fa-bowl-food"></i> food serve
                        </a>
                    </li>
                    
                    <!-- Logout -->
                    <li class="nav-item">
                        <a class="nav-link active" href="/customer_logout">
                            <i class="fa-solid fa-right-from-bracket me-2"></i> Logout
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</nav>